<div>
    <span>Sign Up</span>
    <form ng-submit="post()" to="/api/user">
        firstname <input name='firstname'></input>
        lastname <input name='lastname'></input>
        username <input name='username'></input>
        password <input name='password'></input>
        <input type='submit' title='sub'></input>
    </form>
</div>

<div>
    <span>Login</span>
    <form ng-submit="post()" to="/api/login">
        username <input name='username'></input>
        password <input name='password'></input>
        <input type='submit' title='login'></input>
    </form>
</div>
